:root {
    --primary-one: hsl(0, 100%, 74%);
    --primary-two: hsl(154, 59%, 51%);
    --accent: hsl(248, 32%, 49%);
    --neutral-one: hsl(249, 10%, 26%);
    --neutral-two: hsl(246, 25%, 77%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p, 
section {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: var(--primary-one);
    background-image: url(./images/bg-intro-desktop.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  margin: 2em;
}

.left, .right {
    max-width: 30em;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4em;
}

h1 {
  font-size: 2.8em;
  line-height: 1;
}

 .left p {
  font-size: 0.9em;
 }

 h2 {
  font-size: 0.9em;
  font-weight: 400;
  background-color: var(--accent);
  padding: 1.5em;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.2);
 }

 h2 span {
  font-weight: 600;
 }

 form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.2);
 }

 input::-webkit-contacts-auto-fill-button { /* hiding safari default icons */
  visibility: hidden;
 }

 input {
  padding: 1.1em 2em;
  border: 1px solid var(--neutral-two);
  border-radius: 8px;
  color: var(--neutral-one);
 }

 input:focus-within {
  outline: none;
  border: 1px solid var(--neutral-one);
 }

 input:focus-within, input::placeholder:focus-within {
  color: var(--neutral-one);
 }

input,
input::placeholder {
  font-size: 0.9em;
  font-weight: 600;
}

input {
  color: var(--neutral-one);
}

input::placeholder {
  color: var(--neutral-two);
}

 #submitBtn {
  background-color: var(--primary-two);
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 1em;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.2);
 }

 #submitBtn:hover, #submitBtn:focus {
  cursor: pointer;
 }

 form p {
  color: var(--neutral-two);
  font-size: 0.6em;
  text-align: center;
 }

 form p span {
  color: var(--primary-one);
  font-weight: 600;
 }

 .disclaimer a {
  text-decoration: none;
 }

 p.warning {
  font-style: italic;
  font-weight: 600;
  font-size: 0.65em;
  text-align: right;
  color: var(--primary-one);
  margin-top: -1em;
 }

 .attribution { 
  font-size: 11px; 
  text-align: center; 
 }
 .attribution a {
  color: white;
 }

 @media (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
    padding: 0 2em;
  }
  .left {
    text-align: center;
    padding: 5em 0;
  }
 }