:root {
    --primary-one: hsl(0, 100%, 74%);
    --primary-two: hsl(154, 59%, 51%);
    --accent: hsl(248, 32%, 49%);
    --neutral-one: hsl(249, 10%, 26%);
    --neutral-two: hsl(246, 25%, 77%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p, 
section {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-family: "Poppins", sans-serif;
}
